@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';



:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

.dark {
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    html {
        overflow: hidden;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .bx {
        font-size: 1..7rem;
    }

    body {
        background: var(--grey);
        overflow-x: hidden;
    }

    .content {
        position: relative;
        width: calc(100% - 230px);
        left: 230px;
        transition: all 0.3s ease;
    }
    
}