@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

.auth-page *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.auth-page{
    background-image: url('../../public/martin-martz-rMRT4hF-Fsg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.auth-page .container{
    background-color: var(--light);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.auth-page .container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.auth-page .container span{
    font-size: 12px;
}

.auth-page .container a{
    color: var(--dark);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.auth-page .container a:hover{
    color: var(--primary);
    text-decoration: underline;
}

.auth-page .container button{
    background-color: var(--primary);
    color: var(--light);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.auth-page .container button:hover{
    background-color: var(--dark-grey);
    color: var(--light);
}

.auth-page .container button.hidden{
    background-color: transparent;
    border-color: var(--light);
}

.auth-page .container form{
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.auth-page .container input{
    background-color: var(--grey);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.auth-page .container input:focus{
    border: 1px solid var(--primary);
    scale: 1.02;
    color: var(--primary);
}

.auth-page .container input::placeholder{
    color: var(--dark-grey);
}

/* .auth-page .container input:hover{
    scale: 1.02;
} */

.auth-page .form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.auth-page .sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.auth-page .container.active .sign-in{
    transform: translateX(100%);
}

.auth-page .sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.auth-page .container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.auth-page .social-icons{
    margin: 20px 0;
    width: 100%;
}

.auth-page .social-icons a{
    /* border: 1px solid var(--primary); */
    border-radius: 16px;
    background-color: var(--primary);
    color: var(--light);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 100%;
    height: 40px;
}
.auth-page .social-icons a:hover{
    /* border-color: var(--primary); */
    background-color: var(--dark-grey);
    color: var(--light);
    text-decoration: none;
}

.auth-page .social-icons a i{
    margin-right: 5px;
}

.auth-page .container h1{
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 5px 0;
    color: var(--primary);
}

.auth-page .toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.auth-page .container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.auth-page .toggle{
    background-color: var(--primary);
    height: 100%;
    background: var(--primary);
    color: var(--light);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.auth-page .container.active .toggle{
    transform: translateX(50%);
}

.auth-page .toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.auth-page .toggle-left h1, .auth-page .toggle-right h1{
    color: var(--light);
}

.auth-page .toggle-left button, .auth-page .toggle-right button{
    border: 1px solid var(--light);
}

.auth-page .toggle-left{
    transform: translateX(-200%);
}

.auth-page .container.active .toggle-left{
    transform: translateX(0);
}

.auth-page .toggle-right{
    right: 0;
    transform: translateX(0);
}

.auth-page .container.active .toggle-right{
    transform: translateX(200%);
}