@import url('resources/css/app.css');

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
.header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}
.header .left .breadcrumbs{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
.header .left .breadcrumbs li{
    color: var(--dark);
}
.header .left .breadcrumbs li a{
    color: var(--dark-grey);
    pointer-events: none;
}
.header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}
.header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}