@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

/* Toast styles */
.toast-notification {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.toast-primary {
    background-color: var(--light-primary);
    border: 2px solid var(--primary);
    color: var(--primary);
}

.toast-success {
    background-color: var(--light-success);
    border: 2px solid var(--success);
    color: var(--success);
}

.toast-danger {
    background-color: var(--light-danger);
    border: 2px solid var(--danger);
    color: var(--danger);
}

.toast-warning {
    background-color: var(--light-warning);
    border: 2px solid var(--warning);
    color: var(--warning);
}

.toast-primary .btn-close {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(200deg);
}

.toast-success .btn-close {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(100deg);
}

.toast-danger .btn-close {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(0deg);
}

.toast-warning .btn-close {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(45deg);
}

