:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --secondary: #9C27B0;
    --light-secondary: #E1BEE7;
    --info: #2196F3;
    --light-info: #E3F2FD;
    --neutral: #F5F5F5;
    --tertiary: #FF9800;
    --light-tertiary: #FFE0B2;
    --focus-outline: 2px solid var(--primary);
    --shadow-light: 0 2px 4px rgba(25, 118, 210, 0.1);
    --shadow-medium: 0 4px 8px rgba(25, 118, 210, 0.15);
    --shadow-heavy: 0 8px 16px rgba(25, 118, 210, 0.2);
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}
